.addBook {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addBookTitle {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 20px;
}

.addBookTitleText {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.addBookTitleNew {
  color: cornflowerblue;
  font-weight: 300;
}

.addBookTitleBook {
  color: gray;
  font-weight: 300;
}

.dashboardButton {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.dashboardButtonLink {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  cursor: pointer;
  background-color: cornflowerblue;
  color: white;
}
